<h2 mat-dialog-title>Edit order</h2>
<mat-dialog-content>
  <form class="editOrderForm" (ngSubmit)="onEditOrder()" #editOrderForm="ngForm" id="editOrderForm">
    <mat-form-field>
      <input matInput placeholder="Restaurant Name" [(ngModel)]="editedOrder.restaurantName" id="restaurantName"
             name="restaurantName">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Description" [(ngModel)]="editedOrder.description" id="description"
                name="description" rows="5"></textarea>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="time" placeholder="Ordering time" [(ngModel)]="endDatetime" id="time"
             name="time">
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button [disabled]="!editOrderForm.form.valid" (click)="onEditOrder()">Save changes</button>
  <button mat-raised-button color="primary" mat-dialog-close>Close</button>


</mat-dialog-actions>
