<div fxLayout="column" fxLayoutAlign="space-between stretch">

  <div class="navbar">

    <mat-card fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between stretch">
      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start none">
        <a routerLink="/orders" *ngIf="this.authService.isLoggedIn()">
          <button mat-button>Active Orders</button>
        </a>
        <a routerLink="/login" *ngIf="!this.authService.isLoggedIn()">
          <button mat-button>Login</button>
        </a>
        <a routerLink="/registration" *ngIf="!this.authService.isLoggedIn()">
          <button mat-button>Sign Up</button>
        </a>
      </div>
      <div *ngIf="this.authService.isLoggedIn()">
        <button mat-button [matMenuTriggerFor]="menu">{{this.authService.getUser().name}}</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item *ngIf="this.authService.isLoggedIn()" routerLink="/profile/edit" >Edit profile</button>
          <button mat-menu-item *ngIf="this.authService.isLoggedIn()" (click)="this.loginService.logout();">Logout</button>
        </mat-menu>
      </div>
    </mat-card>
  </div>

  <div>
    <app-alert></app-alert>
  </div>
  <div class="contentBox">
    <router-outlet></router-outlet>
  </div>
  <div>
  </div>
</div>
