.mat-button {
  text-decoration: none;
  color: black;
  font-size:20pt;
}

.navbar{
  background-color: whitesmoke;
  margin-bottom: 20px;
}

.contentBox{
  margin-left: 50px;
  margin-right: 50px;
}
