<div *ngIf="order!=null">

  <mat-card class="orderDetails">
    <h2>{{order.restaurantName}}</h2>
    <p>Order author: <b>{{order.author.name}}</b></p>
    <pre>{{order.description}}</pre>
    <p>Deadline: <b>{{order.endDatetime | amDateFormat:' HH:mm '}}</b></p>
    <p>Total value: <b>{{totalValue.toFixed(2)}}</b>zł</p>
    <div *ngIf="isActive(order)">
      <form class="createOrderLineForm" (ngSubmit)="onCreateOrderLine()" #createOrderLineForm="ngForm" id="createOrderLineForm">
        <mat-form-field class="full-width">
          <input matInput placeholder="Dish" [(ngModel)]="orderLine.dishName" id="dishName"
                 name="dishName" minlength="3" maxlength="250" required>
          <mat-hint>min 3 characters</mat-hint>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput type="number" placeholder="price" [(ngModel)]="orderLine.price" id="price"
                 name="price" min="0.01" max="9999.99" required>
          <span matSuffix>zł</span>
        </mat-form-field>
      </form>

      <button mat-raised-button [disabled]="!createOrderLineForm.form.valid" (click)="onCreateOrderLine()">Order</button>
    </div>
    <h2 *ngIf="!isActive(order)">Time is out</h2>
  </mat-card>


  <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">

      <ng-container matColumnDef="dishName">
        <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.dishName}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef> Price</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.price}}zł</mat-cell>
      </ng-container>

      <ng-container matColumnDef="purchaser">
        <mat-header-cell *matHeaderCellDef> Purchaser</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.purchaser.name}} [{{element.purchaser.login}}]
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="paid">
        <mat-header-cell *matHeaderCellDef> Paid</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-checkbox [ngModel]="element.paid" (change)="setPaid(element)"
                        [disabled]="!canSetPaid(element)"></mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-button (click)="edit(element)" [disabled]="!canEdit(element)">
            Edit
          </button>
          <button mat-button (click)="delete(element)" [disabled]="!canDelete(element)">
            Delete
          </button>

        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>
